<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT</title>
    <link href="{{ url_for('static',filename='harbinger.css') }}" rel="stylesheet" type="text/css">
    <script src="static/edit.js" type="text/javascript"> </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
<section>
<div class="nav-bar" id='navv'>
  <ul>
    <div class="header"> <img src="static\images\dh.jpg" width="50px" height="50px"> </div>
    <a href="predict.html"> <li> HARBOUR </li> </a>
    <a href="facts.html"> <li> FACTS </li> </a>
    <a href="education.html"> <li> EDUCATION </li> </a>
    <a href="about.html"> <li> ABOUT </li> </a>
  </ul>
</div>
    <div class="container">
      <img src="static\images\back2.jpeg" alt="background">
      <div class="content">
        <h1>HOW ARE DIAMONDS PRICED?</h1>
      </div>
    </div>
  <div class="ab_lin">
    <p> Scared of getting ripped off? Don't want to waste your money? Confused by all the choices? Buying a diamond is confusing. On the surface, it seems like nothing makes sense. Take a look at <a href="https://www.amazon.com/gp/product/B072L343M2/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=thediamondpro-20&creative=9325&linkCode=as2&creativeASIN=B072L343M2&linkId=b169c65833f9b1074b4c82cb125f7e58"> this diamond from Amazon </a> and then take a look    <a href="https://www.bluenile.com/diamond-details/LD09889381?irgwc=1&clickid=R1-QY9SgxxyOUPVwUx0Mo3QRUkExHM3MDz%3ADwI0&utm_source=Michael+Fried&utm_campaign=Online+Tracking+Link&utm_content=5455"> this diamond from Blue Nile </a> . They’re both one carat diamonds. Does it make sense that they’re the same size, yet one costs $1,179 and the other $16,500? To make it even crazier, the Blue Nile diamond may actually be a better value!
    <br> Diamond prices can vary hugely depending on a diamond’s shape, cut quality, clarity and color. For example, the cost of a one carat diamond can range from just $1,500 to more than $16,000 for an extremely well cut, high quality diamond, while a two carat diamond could cost as little as $6,000 or as much as $80,000 based on its shape, cut, clarity and color grades. </p>
  </div>

      <div class="image image1">
        <img src="static\images\CUT.jpg" alt="">
      </div>
      <div class="image image2">
        <img src="static\images\cut1.jpg" alt="">
      </div>
      <div class="c1">
        <h2> CUT </h2>
        <p> We often think of a diamond’s cut as shape (round, heart, oval, marquise, pear), but what diamond cut actually  does mean how well a diamond’s facets interact with light. The better these characterstics are as a whole, the higher the quality of the diamond, and in return, the higher the price. No single diamond is perfect for everyone—but all of our customers, whether they’re eyeing a .50-carat or a 16-carat diamond, want as much sparkle as their budget allows. Of the the 4Cs (cut, color, clarity, carat), cut has the greatest influence on a diamond’s beauty and sparkle. So, when determining what diamond to buy, go with the best cut grade that you can afford.
      </div>   

      <br>
      <br>
      <br>

      <div class="image image1">
        <img src="static\images\clarity1.jpg" alt="">
      </div>
      <div class="image image2">
        <img src="static\images\clarity.jpg" alt="">
      </div>
      <div class="c1">
        <h2> CLARITY </h2>
        <p> Clarity refers to the presence of inclusions in a diamond. Inclusions are natural
        identifying charactersistics such as minerals or fractures, appearing while diamonds are formed deep beneath the earth's crust. Surface flaws are called blemishes, while internal defects are known as inclusions. In most cases, a diamond’s beauty is not affected by these in any way since most inclusions can’t be seen with the naked eye. The clarity scale ranging from F(flawless) to I(included) is based on the visibility of inclusions at a magnification of 10x. Remember, all diamonds are unique, not perfect. They are made underground through enormous pressure and heat. Natural inclusions and blemishes are inevitable.  
      </div>  

      <br>
      <br>
      <br> 

      <div class="image image1">
        <img src="static\images\carat.jpg" alt="">
      </div>
      <div class="image image2">
        <img src="static\images\carat1.jpg" alt="">
      </div>
      <div class="c1">
        <h2> CARAT </h2>
        <p>The weight of the dimond is expressed in carats. One carat = 0.2 grams and each is subdivided into 100 points. Diamond price increases with diamond carat weight because larger diamonds are rarer and more desirable.Another misperception is that a larger carat weight is always better than a smaller carat weight. While it’s true that a big rock can be a status symbol (here’s looking at you, Hollywood), carat weight is not related to sparkle. Beautiful sparkle is the result of a well-crafted cut. In fact, a high carat weight diamond with a poor cut may look smaller than a diamond with a smaller carat weight and a very good cut. However, two diamonds of equal carat weight can have very different values (and prices) depending on three other factors of the diamond 4Cs: Color, Clarity, and Cut. 
      </div> 
      <br>
      <br>
      <br>

      <div class="image image1">
        <img src="static\images\color1.jpg" alt="">
      </div>
      <div class="image image2">
        <img src="static\images\color.jpg" alt="">
      </div>
      <div class="c1">
        <h2> COLOR </h2>
        <p>Understanding what diamond color means helps in choosing the right diamond. Diamond color actually means lack of color, i.e.,  diamond color evaluation of most gem-quality diamonds is based on the absence of color. A chemically pure and structurally perfect diamond has no hue, like a drop of pure water, and consequently, a higher value. D color diamond is the highest grade and is extremely rare—the highest color grade that money can buy. Eight percent of customers choose a D color diamond. Diamond color ranges from D (Colorless) To K (Faintly Colored). Helpful Hint: Diamond prices decline or increase in alphabetical order. For example, a diamond with a G color grade is less expensive than a diamond with a D color grade.
      </div> 
      <br>
      <br>
      <br>

      <div class="image image1">
        <img src="static\images\depth.jpg" alt="">
      </div>
      <div class="image image2">
        <img src="static\images\depth1.jpg" alt="">
      </div>
      <div class="c1">
        <h2> DEPTH </h2>
        <p>Diamond depth is a crucial factor of a diamond's cut. The depth of diamond is its height (in millimeters) measured from the culet (bottom tip) to the table (flat, top surface). After light enters a diamond, the diamond depth determines how much of that light reflects back up to the observer’s eye. If the diamond depth is too shallow, the light strikes the pavilion facet at a low angle and passes through the facet, escaping through the bottom of the diamond. If the diamond depth is too deep, the entering light reflects off the first pavilion facet but strikes the second pavilion at too low an angle, causing the light to refract, escaping through the bottom of the diamond. A diamond with an ideal diamond depth will allow the light to strike each pavilion facet at an angle which allows most of the light to reflect back to the top.
      </div>

    </section>

    <div class="footer">
    <div class="footer-content">
      <div class="footer-section miss">
        <h1 class="ltx"><span>Our</span><br>Mission</h1>
        <p> Is to help people to make them aware of the features which actually decide the price of diamond. And no only limited to customers but also retailer can use it to set the price of their diamond of particular feature. </p>
      </div>
      <div class="footer-section feed">
        <h2> FeedBack </h2>
        <form action="about.html" method="post">
          <input type="email" name="email" class="text-input contact-input" placeholder="Your email address..."> <br>
          <textarea name="msg" class="text-input contact-input" placeholder="Your feedback..."></textarea><br>
          <button type="submit" class="btn"> <i class="fa fa-envelope"></i><br> Send </button>
        </form>
      </div>
      <div class="footer-section cont">
        <h2> Contact Us </h2>
        <div class="contact">
        <span> <i class="fa fa-phone"></i> &nbsp; 8827541219 </span> <br><br>
        <span> <i class="fa fa-envelope"> </i> &nbsp; priya@gmail.com </span>
        </div>
      <div class="social">
      <br>
        <a href="#"><i class="fa fa-facebook"  style="font-size:20px; color:white"></i></a>
        <a href="#"><i class="fa fa-instagram"  style="font-size:20px; color:white"></i></a>
        <a href="#"><i class="fa fa-twitter"  style="font-size:20px; color:white"></i></a>
        <a href="#"><i class="fa fa-youtube"  style="font-size:20px; color:white"></i></a>
      </div>
      </div>
  </div>

  </body>


</html>